<app-navbar></app-navbar>

<section class="text-gray-600 body-font" style="margin-top: -60px">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">ROOF PARTY POLAROID</h2> -->
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
      >
      Who We Are
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Welcome to our school, where we foster growth and excellence from primary through high school. We are dedicated to helping every student succeed academically and personally.
      </p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font" style="margin-top: -230px">
  <div
    class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
  >
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="https://i.pinimg.com/474x/ce/ca/51/ceca513a2960c32973d4c03caa30ea52.jpg"
        style="height: 700px"
      />
    </div>

    <div
      class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center"
    >
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        The History of Our School
      </h1>
      <p class="mb-8 leading-relaxed">
        Founded in the year 2000, our school was established with the vision of
        providing an exceptional education that not only prioritizes academic
        excellence but also emphasizes personal development and community
        engagement. Over the decades, we have evolved into a cornerstone of the
        community, continuously fostering an environment where students are
        encouraged to explore their potential, think critically, and contribute
        meaningfully to society.<br /><br />

        Starting with a small but dedicated group of educators and learners, our
        school has grown into a respected institution, with a proud legacy of
        academic achievement, character building, and innovation. Throughout our
        journey, we have embraced change while maintaining a steadfast
        commitment to our founding values of integrity, inclusivity, and
        excellence.<br /><br />

        From our pioneering programs to our modern-day curriculum, each
        milestone in our history has been a testament to our dedication to
        nurturing well-rounded, responsible, and forward-thinking individuals.
        Our alumni have gone on to make significant contributions in various
        fields, and their successes stand as proof of the strong foundation our
        school provides.<br /><br />

        As we look to the future, we remain committed to evolving with the times
        while honoring the traditions and values that have shaped our school’s
        rich legacy. We continue to provide an education that empowers every
        student to excel, lead with purpose, and become active, compassionate
        members of the global community.
      </p>
    </div>
  </div>
</section>

<section class="w-full mx-auto py-10 bg-gray-50 dark:bg-gray-900 dark:text-white" style="margin-top: -40px;">
  <!-- Title -->
  <div class="flex justify-center items-center h-screen" style="margin-top: -330px; margin-bottom: -320px;">
    <div
      class="w-fit pb-1 px-2 mx-4 rounded-md text-2xl font-semibold border-b-2 border-blue-600 dark:border-yellow-600 text-center">
      Our School's Values
    </div>
  </div>
  

  <div class="w-full h-full flex flex-col items-center md:py-4 py-10" style="margin-top: ;">
    <!-- Col - 2 -->
    <div
      class="xl:w-[80%] sm:w-[85%] w-[90%] mx-auto flex md:flex-row flex-col lg:gap-4 gap-2 justify-center lg:items-stretch md:items-center mt-4">
      <!--  -->
      <img class="md:w-[50%] w-full md:rounded-t-lg rounded-sm" src="https://i.pinimg.com/736x/76/e7/15/76e715392afc016533e8d76bdedb3d6f.jpg" alt="billboard image" />
      <!-- =80&w=1080 -->
      <div class="md:w-[50%] w-full bg-gray-100 dark:bg-gray-900 dark:text-gray-400 md:p-4 p-0 rounded-md">
        <h2 class="text-3xl font-semibold text-gray-900 dark:text-white">Our Key Objectives</h2>
        <p class="text-md mt-4">Our mission is to provide a nurturing, dynamic, and
           inclusive educational environment that supports the holistic development of students 
           from early childhood through adolescence. We are dedicated to fostering academic excellence,
            critical thinking, creativity, and character building at every stage of a student's journey.<br><br> 
          
            By cultivating a love for learning and a sense of responsibility, we empower students to become compassionate, responsible, and engaged citizens. Our goal is to prepare them to contribute meaningfully to a diverse and ever-changing world, ensuring they are well-equipped to face future challenges with confidence and integrity.
          </p>
      </div>

    </div>
    <!-- Col - 3 -->
    <div
      class="xl:w-[80%] sm:w-[85%] w-[90%] mx-auto flex md:flex-row flex-col flex-col-reverse lg:gap-4 gap-2 justify-center lg:items-stretch md:items-center mt-6">
      <!--  -->
      <div class="md:w-[50%] w-full bg-gray-100 dark:bg-gray-900 dark:text-gray-400 md:p-4 p-0 rounded-md">
        <h2 class="text-3xl font-semibold text-gray-900 dark:text-white">Principles of Integrity</h2>

        <p class="text-md mt-4">At our school, we uphold the Principles of Integrity as a fundamental pillar 
          of our educational environment. We are committed to fostering honesty, responsibility, and respect in
           every student, ensuring they understand the importance of acting with fairness and transparency in all
            their endeavors. From the earliest years through adolescence, we encourage students to embrace integrity
             as a cornerstone of their character, empowering them to make ethical decisions, build trust with others, 
             and contribute positively to their communities.<br><br> 

             Our goal is to cultivate future leaders who uphold the highest standards of integrity 
             in all aspects of life. We strive to create an atmosphere where students not only learn
              the value of integrity but also live by it, ensuring they are well-prepared to face the 
              challenges of the future with a strong moral compass.
            </p>
      </div>
      <!--  -->
      <img class="md:w-[50%] w-full md:rounded-t-lg rounded-sm" src="https://i.pinimg.com/474x/42/be/9d/42be9d9969d4cd7c4304aa009ae512fe.jpg" alt="billboard image" />

    </div>
  </div>
</section>



<section class="text-gray-600 body-font" style="margin-top: -60px;">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
     
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">

          <div class="w-40 h-40 rounded-full inline-flex items-center justify-center bg-gray-200">
            <img src="https://i.pinimg.com/474x/37/f7/db/37f7dbfac52ed6a2dddec207f8a21e2d.jpg" alt="Principal's Profile Picture" class="w-40 h-40  rounded-full object-cover">
          </div>

          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Nathan Hlungwani</h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            <p class="text-base">Headmaster Nathan Hlungwani fosters excellence across our institution with integrity, vision, and a commitment to educational leadership.</p>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <h1
          class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
        >
          From the Headmaster's Desk
        </h1>
          <p class="leading-relaxed text-lg mb-4"> At our institution, we inspire students to pursue their dreams with 
            passion and determination. We are committed to fostering a supportive and challenging environment that encourages 
            curiosity, resilience, and a love for learning. As Nelson Mandela once said, 'Education is the most powerful weapon 
            which you can use to change the world.' To our students, every effort you make brings you closer to your goals, shaping 
            a bright future. To our parents, your partnership is vital as we nurture the leaders of tomorrow. Together, let’s empower 
            our children to reach their full potential and achieve greatness.</p>
       
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Photo by '@candjstudios' & '@framesforyourheart' on Unsplash -->


<!-- <div class="text-center p-8">
  <h2 class="font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl">
      Why to choose US?
  </h2>

  <div class="flex flex-wrap items-center mt-20 text-left text-center">
      <div class="w-full md:w-3/5 lg:w-1/2 px-4">
          <img src="https://picsum.photos/400/240" alt="gem" class="inline-block rounded shadow-lg border border-merino-400">
      </div>
      <div class="w-full md:w-2/5 lg:w-1/2 px-4 text-center md:text-left lg:pl-12">
          <h3 class="font-bold mt-8 text-xl md:mt-0 sm:text-2xl">
              Simple integration
          </h3>
          <p class="sm:text-lg mt-6">
              Use the LocaleData gem to download translations directly into your Ruby on Rails
              projects using the provided command line interface. Just create a project and follow
              the step-by-step instructions.
          </p>
      </div>
  </div>

  <div class="flex flex-wrap items-center mt-20 text-left text-center">
      <div class="w-full md:w-3/5 lg:w-1/2 px-4">
          <img src="https://picsum.photos/400/240" alt="project members" class="inline-block rounded shadow-lg border border-merino-400">
      </div>
      <div class="w-full md:w-2/5 lg:w-1/2 px-4 md:order-first text-center md:text-left lg:pr-12">
          <h3 class="font-bold mt-8 text-xl md:mt-0 sm:text-2xl">
              Easy collaboration
          </h3>
          <p class="sm:text-lg mt-6">
              All LocaleData projects are private. Each project can have multiple collaborators
              with different roles and access permissions. You determine who can see and edit
              your translations. Just add admins, developers, translators and configure their
              access rights.
          </p>
      </div>
  </div>

  <div class="flex flex-wrap items-center mt-20 text-left  text-center">
      <div class="w-full md:w-3/5 lg:w-1/2 px-4">
          <img src="https://picsum.photos/400/240" alt="editor" class="inline-block rounded shadow-lg border border-merino-400">
      </div>
      <div class="w-full md:w-2/5 lg:w-1/2 px-4 text-center md:text-left lg:pl-12">
          <h3 class="font-bold mt-8 text-xl md:mt-0 sm:text-2xl">
              No more syntax errors
          </h3>
          <p class="sm:text-lg mt-6">
              LocaleData provides you easy import/export functions for your YAML files.
              Use a simple editor with many predefined languages to manage your locales.
              LocaleData also supports multiple translation types, such as simple text, plural forms,
              numbers, booleans, symbols, arrays, ...
          </p>
      </div>
  </div>

  <div class="flex flex-wrap items-center mt-20 text-left text-center">
      <div class="w-full md:w-3/5 lg:w-1/2 px-4">
          <img src="https://picsum.photos/400/240" alt="bulk editing" class="inline-block rounded shadow-lg border border-merino-400">
      </div>
      <div class="w-full md:w-2/5 lg:w-1/2 px-4 md:order-first text-center md:text-left lg:pr-12">
          <h3 class="font-bold mt-8 text-xl md:mt-0 sm:text-2xl">
              Bulk editing
          </h3>
          <p class="sm:text-lg mt-6">
              Do you need to change the path of many translation keys at once? No problem, just
              use the bulk editing feature and enjoy the results.
          </p>
      </div>
  </div>

</div> -->

<!-- <section class="text-gray-600 body-font" style="margin-top: -80px;">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1
      class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
    >
    Our School's Values
    </h1>
    <p class="mb-8 leading-relaxed">
      Founded in the year 2000, our school was established with the vision of
      providing an exceptional education that not only prioritizes academic
      excellence but also emphasizes personal development and community
      engagement. Over the decades, we have evolved into a cornerstone of the
      community, continuously fostering an environment where students are
      encouraged to explore their potential, think critically, and contribute
      meaningfully to society.<br /><br />

      Starting with a small but dedicated group of educators and learners, our
      school has grown into a respected institution, with a proud legacy of
      academic achievement, character building, and innovation. Throughout our
      journey, we have embraced change while maintaining a steadfast
      commitment to our founding values of integrity, inclusivity, and
      excellence.<br /><br />

      From our pioneering programs to our modern-day curriculum, each
      milestone in our history has been a testament to our dedication to
      nurturing well-rounded, responsible, and forward-thinking individuals.
      Our alumni have gone on to make significant contributions in various
      fields, and their successes stand as proof of the strong foundation our
      school provides.<br /><br />

      As we look to the future, we remain committed to evolving with the times
      while honoring the traditions and values that have shaped our school’s
      rich legacy. We continue to provide an education that empowers every
      student to excel, lead with purpose, and become active, compassionate
      members of the global community.
    </p>
    
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://i.pinimg.com/474x/ce/ca/51/ceca513a2960c32973d4c03caa30ea52.jpg"
      style="height: 700px">
    </div>
  </div>
</section> -->

<app-footer></app-footer>
