<app-navbar></app-navbar>
<img style="height: 250px; width: 100%; object-fit: cover;" src="https://images.unsplash.com/photo-1557766131-dca3a8acae87?q=80&w=1634&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image description">

<section class="text-gray-600 body-font" style="margin-top: -60px">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">ROOF PARTY POLAROID</h2> -->
        <h1
          class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
        >
        Admission
        </h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
            Welcome to our school, nurturing bright minds from primary to high school, where every student’s growth and success are our priority.
        </p>
      </div>
    </div>
  </section>

  <section class="bg-white dark:bg-gray-900" style="margin-top: -200px">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">We didn't reinvent the wheel</h2>
            <p class="mb-4">We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you need. Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you need.</p>
            <p>We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and quick.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
        </div>
    </div>
</section>


<div class="flex flex-col text-center w-full mb-10">
  <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">ROOF PARTY POLAROID</h2> -->
  <h1
    class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
  >
  Admission
  </h1>
  <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
      Welcome to our school, nurturing bright minds from primary to high school, where every student’s growth and success are our priority.
  </p>
</div>
<div class="container">

  <div class="tab-wrap">

    <input type="radio" id="tab4" name="tabGroup2" class="tab" checked>
    <label for="tab4">Apples</label>

    <input type="radio" id="tab5" name="tabGroup2" class="tab">
    <label for="tab5">Oranges</label>

    <input type="radio" id="tab6" name="tabGroup2" class="tab">
    <label for="tab6">Bananas</label>

    <input type="radio" id="tab7" name="tabGroup2" class="tab">
    <label for="tab7">Kiwis</label>

    <input type="radio" id="tab8" name="tabGroup2" class="tab">
    <label for="tab8">Tomatoes</label>

    <div class="tab__content">
      <h3>Apples</h3>
      <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
    </div>

    <div class="tab__content">
      <h3>Oranges</h3>
      <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

      <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
    </div>

    <div class="tab__content">
      <h3>Bananas</h3>
      <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
    </div>

    <div class="tab__content">
      <h3>Kiwis</h3>
      <p>Praesent nonummy mi in odio.</p>
    </div>

    <div class="tab__content">
      <h3>Tomatoes</h3>
      <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum.</p>
    </div>

  </div>
</div>








<app-footer></app-footer>