<app-navbar></app-navbar>

<section class="text-gray-600 body-font" style="margin-bottom: 70px; margin-top: -50px;">
  <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-10">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Team</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
              At the heart of our school is a dedicated team of professionals committed to fostering excellence in education. Each member of our staff brings unique expertise, passion, and a shared vision to inspire and support our students' growth. Explore the faces behind our mission to empower future leaders.
          </p>
      </div>

      <div class="flex flex-wrap -m-2">
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://image.shutterstock.com/image-photo/headshot-portrait-smiling-african-american-260nw-1437938327.jpg">
                  <div class="flex-grow">
                      <h2 class="text-gray-900 title-font font-medium">Thabo Mokoena</h2>
                      <p class="text-gray-500">Mathematics</p>
                  </div>
              </div>
          </div>

          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://img.freepik.com/free-photo/teacher-with-glasses-class_23-2148665899.jpg?ga=GA1.1.617160137.1728380854&semt=ais_incoming">
                  <div class="flex-grow">
                      <h2 class="text-gray-900 title-font font-medium">Emily White</h2>
                      <p class="text-gray-500">English</p>
                  </div>
              </div>
          </div>

          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/88x88">
                  <div class="flex-grow">
                      <h2 class="text-gray-900 title-font font-medium">Sipho Nkosi</h2>
                      <p class="text-gray-500">Physical Science</p>
                  </div>
              </div>
          </div>

          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/90x90">
                  <div class="flex-grow">
                      <h2 class="text-gray-900 title-font font-medium">Jessica Brown</h2>
                      <p class="text-gray-500">Art</p>
                  </div>
              </div>
          </div>

          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://img.freepik.com/free-photo/close-up-smiley-woman-library_23-2149204737.jpg?ga=GA1.1.617160137.1728380854&semt=ais_incoming">
                  <div class="flex-grow">
                      <h2 class="text-gray-900 title-font font-medium">Lungile Zulu</h2>
                      <p class="text-gray-500">Music</p>
                  </div>
              </div>
          </div>

          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/98x98">
                  <div class="flex-grow">
                      <h2 class="text-gray-900 title-font font-medium">Michael Smith</h2>
                      <p class="text-gray-500">History</p>
                  </div>
              </div>
          </div>

          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://img.freepik.com/premium-photo/smiling-african-american-woman-class_622301-9456.jpg?ga=GA1.1.617160137.1728380854&semt=ais_incoming">
                  <div class="flex-grow">
                      <h2 class="text-gray-900 title-font font-medium">Nokuthula Mbatha</h2>
                      <p class="text-gray-500">Information Technology</p>
                  </div>
              </div>
          </div>

          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/104x94">
                  <div class="flex-grow">
                      <h2 class="text-gray-900 title-font font-medium">David Green</h2>
                      <p class="text-gray-500">Life Sciences</p>
                  </div>
              </div>
          </div>

          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://img.freepik.com/premium-photo/elementary-school-cheerful-teacher-holding-book_206320-3379.jpg?ga=GA1.1.617160137.1728380854&semt=ais_incoming">
                  <div class="flex-grow">
                      <h2 class="text-gray-900 title-font font-medium">Zanele Ndlovu</h2>
                      <p class="text-gray-500">Geography</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


  


<app-footer></app-footer>