<app-navbar></app-navbar>

<section class="text-gray-600 body-font" style="margin-top: -60px">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">ROOF PARTY POLAROID</h2> -->
        <h1
          class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
        >
        Job placement opportunities
        </h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
            Explore our job placement opportunities and take the next step in your professional journey with us. We're committed to connecting talented individuals with roles that foster growth and success.
        </p>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font overflow-hidden" style="margin-top: -220px;">
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">Date Published</span>
            <span class="mt-1 text-gray-500 text-sm">16 January 2025</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">POSITION: High School Life Science & Natural Science Teacher<br>EMPLOYER: Shaper High<br>LOCATION: Pretoria, South Africa</h2>
            <p class="leading-relaxed">Shaper High is a Co-Educational Independent School from Grade 000-12, situated
                 in the East of Pretoria. The school places a large emphasis on providing a holistic education that
                  supports the development of well-rounded individuals.<br><br>We invite applications for the position
                   of Life Science (FET phase) & Natural Science (Junior Secondary phase) Teacher in the High School
                    with effect from April 2025. Applicants should have the necessary qualifications and experience
                     and be a SACE registered Teacher. A suitable candidate should be prepared to engage fully with
                      the co-curricular programme of the school. The successful applicant will take up a teaching
                       load in the High School together with the other required duties.<br><br>The applicant should:
                        –<br>* Be a mature Christian with a strong testimony.<br>* Understand, and fully support, the
                         ethos and vision of the school.<br>* Be an experienced educator and ideally having previously
                          taught in an IEB school.<br>* Have excellent organizational and administrative skills.<br>* Have
                           well-developed people skills & experience in mentoring others.<br>* Have a track record
                            of positive collaboration within a team.<br>* Be enthusiastic and able to promote
                             innovation within the subject taught.<br><br>To apply, please follow steps
                              below:<br> Forward your CV, including at least 3 contactable referees,
                               to cv&#64;ShaperHigh.co.za and insert ‘Life Science & Natural Science’ in
                                your e-mail subject line.<br><br>Only short-listed applicants will
                                 be contacted for an interview. Shaper High reserves the
                                  right to not fill this position.<br><br>Shaper High,
                                   in line with POPIA (Protection of Personal 
                                   Information Act) will attempt to ensure 
                                   the confidentiality of all applicants
                                    for this role. All reasonable measures
                                     will be in place to protect personal
                                      information, however, it will be 
                                      used in the recruitment, selection, 
                                      and reporting process. By submitting 
                                      your application for this position, 
                                      you are recognising and accepting 
                                      this disclaimer.</p>
            <!-- <a class="text-indigo-500 inline-flex items-center mt-4">Learn More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
          </div>
        </div>
        <!-- Repeat similar blocks for other posts with different details for each school and position -->
      </div>
    </div>
  </section>



<app-footer></app-footer>